[submodule "lib/safe-tools"]
	path = lib/safe-tools
	url = https://github.com/colinnielsen/safe-tools
[submodule "lib/sentinellist"]
	path = lib/sentinellist
	url = https://github.com/rhinestonewtf/sentinellist
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/create3-factory"]
	path = lib/create3-factory
	url = https://github.com/zeframlou/create3-factory
